@tailwind base;
@tailwind components;
@tailwind utilities;

.color-slide {
  background-image: linear-gradient(-225deg, #6ef8b7 0%, #2cc7f6 29%, #e32727 67%, #f4ec1b 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 15s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: -300% center;
  }
}